* source of dataset: http://archive.ics.uci.edu/ml/datasets/online+retail

In [276]:
# libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import re
import os
from multiprocessing import Pool
import re

pd.set_option("max_rows", 80)
pd.set_option("max_columns", None)

In [277]:
from numba import jit, autojit

In [278]:
df = pd.read_excel("Online_Retail.xlsx")

In [279]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [280]:
# create cancelled column with c_index
c_index = []
for i in range(len(df)):
    invoice = str(df.iloc[i,0])
    if 'C' in invoice or 'c' in invoice:
        c_index.append(i)

In [281]:
df.loc[c_index,'cancelled'] = 1

In [282]:
# create revenue column
df['revenue'] = df.Quantity * df.UnitPrice

In [283]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,cancelled,revenue
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,NaN,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,NaN,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,NaN,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,NaN,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,NaN,20.34

In [284]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 10 columns):
InvoiceNo      541909 non-null object
StockCode      541909 non-null object
Description    540455 non-null object
Quantity       541909 non-null int64
InvoiceDate    541909 non-null datetime64[ns]
UnitPrice      541909 non-null float64
CustomerID     406829 non-null float64
Country        541909 non-null object
cancelled      9288 non-null float64
revenue        541909 non-null float64
dtypes: datetime64[ns](1), float64(4), int64(1), object(4)
memory usage: 41.3+ MB

In [285]:
# stockcodes with alphabet: create separate code for that
# str.isdigit() function

codes = [str(df.loc[i,'StockCode'])[len(df.loc[i,'StockCode'])-1] if str(df.loc[i,'StockCode']).isdigit() == False else np.nan for i in range(541909)]

In [286]:
# append codes to dataframe
df['code_alphabet'] = codes

In [287]:
df = df.drop('code_alphabet', axis = 1)

In [288]:
discounts = [1 if df.loc[i,'StockCode'] == 'D' else 0 for i in range(541909)]

In [289]:
# append discount information
df['discount'] = discounts

# view changes
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,cancelled,revenue,discount
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,NaN,15.30,0
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,NaN,20.34,0
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,NaN,22.00,0
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,NaN,20.34,0
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,NaN,20.34,0

In [290]:
df.StockCode.value_counts()

85123A      2313
22423       2203
85099B      2159
47566       1727
20725       1639
84879       1502
22720       1477
22197       1476
21212       1385
20727       1350
22383       1348
22457       1280
23203       1267
POST        1256
22386       1251
22469       1239
22960       1229
21931       1214
22086       1210
22411       1202
20728       1197
22382       1192
22961       1182
22666       1180
23298       1179
22699       1138
22384       1137
23209       1135
82482       1129
22993       1111
22727       1107
22697       1085
23206       1084
22178       1072
20724       1068
23084       1067
20726       1061
22726       1026
21080       1015
23199       1009
            ...
46776b         1
82613a         1
84612B         1
DCGS0004       1
90025E         1
90060B         1
20864          1
20863          1
90095          1
85160a         1
DCGS0068       1
90068          1
10134          1
90069          1
22275          1
35824B         1
90078          1
35603B         1
85035b         1
84971L         1
90091          1
79172D         1
90092          1
20678          1
DCGS0067       1
16161M         1
84966B         1
20689          1
90126C         1
90102          1
21858          1
84875A         1
20738          1
16169N         1
DCGS0074       1
20825          1
90184c         1
20849          1
20850          1
85034b         1
Name: StockCode, Length: 4070, dtype: int64

In [291]:
# country continent mapping
continent_mapping = {'Australia': 'Oceania', 
                     'Cyprus': 'Middle East',
                     'Japan': 'Asia',
                     'USA': 'North America',
                     'Israel': 'Middle East',
                     'Hong Kong': 'Asia',
                     'Singapore': 'Asia',
                     'Canada': 'North America',
                     'United Arab Emirates': 'Middle East',
                     'RSA': 'Africa',
                     'Leabnon': 'Middle East',
                     'Brazil': 'South America',
                     'Bahrain': 'Middle East',
                     'Saudi Arabia': 'Middle East',
                     'Unspecified': 'Unspecified'
                    }

In [292]:
# assign continent
continents = [continent_mapping[df.loc[i,'Country']] if df.loc[i,'Country'] in continent_mapping else 'Europe' for i in range(541909)]

In [293]:
df['Continent'] = continents

# verify changes
df.Continent.value_counts()

Europe           537781
Oceania            1259
Middle East        1016
Asia                875
Unspecified         446
North America       442
Africa               58
South America        32
Name: Continent, dtype: int64

In [294]:
df.StockCode.value_counts()

85123A      2313
22423       2203
85099B      2159
47566       1727
20725       1639
84879       1502
22720       1477
22197       1476
21212       1385
20727       1350
22383       1348
22457       1280
23203       1267
POST        1256
22386       1251
22469       1239
22960       1229
21931       1214
22086       1210
22411       1202
20728       1197
22382       1192
22961       1182
22666       1180
23298       1179
22699       1138
22384       1137
23209       1135
82482       1129
22993       1111
22727       1107
22697       1085
23206       1084
22178       1072
20724       1068
23084       1067
20726       1061
22726       1026
21080       1015
23199       1009
            ...
46776b         1
82613a         1
84612B         1
DCGS0004       1
90025E         1
90060B         1
20864          1
20863          1
90095          1
85160a         1
DCGS0068       1
90068          1
10134          1
90069          1
22275          1
35824B         1
90078          1
35603B         1
85035b         1
84971L         1
90091          1
79172D         1
90092          1
20678          1
DCGS0067       1
16161M         1
84966B         1
20689          1
90126C         1
90102          1
21858          1
84875A         1
20738          1
16169N         1
DCGS0074       1
20825          1
90184c         1
20849          1
20850          1
85034b         1
Name: StockCode, Length: 4070, dtype: int64

In [295]:
df.loc[df.StockCode == 84879,]['Description'].value_counts()

ASSORTED COLOUR BIRD ORNAMENT    1501
damaged                             1
Name: Description, dtype: int64

In [296]:
sc = df.StockCode.value_counts().index.tolist()
dcgs = []
for i in sc:
    if 'DCGS' in str(i) or 'dcgs' in str(i):
        dcgs.append(i)

In [297]:
df[df.StockCode.isin(dcgs)]['Description'].value_counts()

GIRLS PARTY BAG                 13
BOYS PARTY BAG                  11
ebay                             5
BOXED GLASS ASHTRAY              4
SUNJAR LED NIGHT NIGHT LIGHT     2
HAYNES CAMPER SHOULDER BAG       1
CAMOUFLAGE DOG COLLAR            1
OOH LA LA DOGS COLLAR            1
Name: Description, dtype: int64

In [298]:
df[df.Description.isin(['damaged', 'Damaged', 'DAMAGED'])]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,cancelled,revenue,discount,Continent
142631,548620,84313B,Damaged,-32,2011-04-01 11:53:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe
154122,549846,21100,Damaged,-6,2011-04-12 14:30:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe
154656,549935,35915C,damaged,-43,2011-04-13 11:16:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe
154799,549948,37488A,damaged,-1,2011-04-13 12:55:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe
154835,549950,37487B,Damaged,-6,2011-04-13 12:57:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe
154860,549952,37482P,Damaged,-93,2011-04-13 13:05:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe
156618,550153,85167B,DAMAGED,-1,2011-04-14 14:44:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe
166836,550954,47013A,damaged,-2,2011-04-21 16:18:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe
170484,551302,48189,damaged,-18,2011-04-27 14:55:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe
180618,552331,22667,damaged,-30,2011-05-09 10:24:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe
189299,553147,84879,damaged,-160,2011-05-13 13:58:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe
200352,554128,84563A,damaged,-4,2011-05-23 09:26:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe
202495,554432,85132A,damaged,-97,2011-05-24 12:16:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe
212679,555503,84313C,damaged,-1,2011-06-03 15:39:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe
212682,555506,21397,damaged,-57,2011-06-03 16:03:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe
220141,556122,85019C,Damaged,-108,2011-06-09 10:12:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe
220142,556123,22272,Damaged,-15,2011-06-09 10:13:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe
229728,557108,23113,Damaged,-1440,2011-06-16 15:58:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe
233055,557417,84809B,damaged,-324,2011-06-20 11:51:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe
234739,557596,23114,Damaged,-1440,2011-06-21 11:33:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe
234740,557597,23115,Damaged,-1440,2011-06-21 11:33:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe
234764,557599,23116,Damaged,-1440,2011-06-21 11:34:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe
234765,557600,23117,Damaged,-1440,2011-06-21 11:35:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe
236794,557784,21421,damaged,-5,2011-06-22 15:49:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe
241999,558268,21351,damaged,-220,2011-06-28 10:17:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe
246772,558723,84865,damaged,-7,2011-07-01 14:28:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe
246797,558730,22060,damaged,-1,2011-07-01 14:51:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe
271791,560717,84576,damaged,-3,2011-07-20 13:28:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe
279510,561326,21294,damaged,-227,2011-07-26 13:50:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe
344867,567113,85215,Damaged,-29,2011-09-16 13:39:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe
344884,567125,21246,damaged,-2,2011-09-16 13:49:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe
344928,567127,85230E,Damaged,-48,2011-09-16 14:01:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe
345010,567131,21830,damaged,192,2011-09-16 14:13:00,0.0,NaN,United Kingdom,NaN,0.0,0,Europe
345107,567143,21179,damaged,-14,2011-09-16 15:02:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe
355331,567918,79163,damaged,-1,2011-09-22 17:20:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe
355335,567921,21089,damaged,-7,2011-09-22 17:24:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe
355345,567923,37343,damaged,-2,2011-09-22 17:24:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe
355354,567925,84876D,damaged,-2,2011-09-22 17:26:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe
355356,567927,21654,Damaged,-3,2011-09-22 17:28:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe
355421,567931,84563B,damaged,-11,2011-09-22 17:38:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe
370191,569131,22927,damaged,-5,2011-09-30 13:49:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe
373013,569256,20774,damaged,-14,2011-10-03 11:15:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe
373600,569335,84660A,damaged,-15,2011-10-03 13:57:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe
387525,570294,84249A,damaged,-25,2011-10-10 12:00:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe
398625,571254,23427,damaged,-2,2011-10-14 17:07:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe
401995,571458,21761,damaged,-2,2011-10-17 14:02:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe
414729,572480,22049,damaged,-100,2011-10-24 13:44:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe
415121,572516,22336,damaged,-71,2011-10-24 14:45:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe
415236,572527,20984,damaged,-46,2011-10-24 15:35:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe
422811,573118,85032D,damaged,-1,2011-10-27 16:19:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe
436631,574198,21159,damaged,-40,2011-11-03 12:00:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe
446552,574906,85034A,damaged,-81,2011-11-07 15:30:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe
472222,576674,21823,damaged,-6,2011-11-16 12:00:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe
474647,576843,10133,damaged,-82,2011-11-16 15:32:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe
489243,577999,21018,damaged,-63,2011-11-22 12:29:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe
492198,578095,23397,damaged,-9,2011-11-22 17:25:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe
500145,578733,21643,damaged,-9,2011-11-25 11:32:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe
514981,579755,84912B,damaged,-14,2011-11-30 14:54:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe

In [299]:
# make description to all lowercase
df.Description = [str(i).lower() for i in df.Description]

In [300]:
# created 'damaged' column for all damaged items
df['damaged'] = [1 if i == 'damaged' else 0 for i in df.Description]

In [301]:
df[df.damaged == 1]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,cancelled,revenue,discount,Continent,damaged
142631,548620,84313B,damaged,-32,2011-04-01 11:53:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe,1
154122,549846,21100,damaged,-6,2011-04-12 14:30:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe,1
154656,549935,35915C,damaged,-43,2011-04-13 11:16:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe,1
154799,549948,37488A,damaged,-1,2011-04-13 12:55:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe,1
154835,549950,37487B,damaged,-6,2011-04-13 12:57:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe,1
154860,549952,37482P,damaged,-93,2011-04-13 13:05:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe,1
156618,550153,85167B,damaged,-1,2011-04-14 14:44:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe,1
166836,550954,47013A,damaged,-2,2011-04-21 16:18:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe,1
170484,551302,48189,damaged,-18,2011-04-27 14:55:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe,1
180618,552331,22667,damaged,-30,2011-05-09 10:24:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe,1
189299,553147,84879,damaged,-160,2011-05-13 13:58:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe,1
200352,554128,84563A,damaged,-4,2011-05-23 09:26:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe,1
202495,554432,85132A,damaged,-97,2011-05-24 12:16:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe,1
212679,555503,84313C,damaged,-1,2011-06-03 15:39:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe,1
212682,555506,21397,damaged,-57,2011-06-03 16:03:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe,1
220141,556122,85019C,damaged,-108,2011-06-09 10:12:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe,1
220142,556123,22272,damaged,-15,2011-06-09 10:13:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe,1
229728,557108,23113,damaged,-1440,2011-06-16 15:58:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe,1
233055,557417,84809B,damaged,-324,2011-06-20 11:51:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe,1
234739,557596,23114,damaged,-1440,2011-06-21 11:33:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe,1
234740,557597,23115,damaged,-1440,2011-06-21 11:33:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe,1
234764,557599,23116,damaged,-1440,2011-06-21 11:34:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe,1
234765,557600,23117,damaged,-1440,2011-06-21 11:35:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe,1
236794,557784,21421,damaged,-5,2011-06-22 15:49:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe,1
241999,558268,21351,damaged,-220,2011-06-28 10:17:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe,1
246772,558723,84865,damaged,-7,2011-07-01 14:28:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe,1
246797,558730,22060,damaged,-1,2011-07-01 14:51:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe,1
271791,560717,84576,damaged,-3,2011-07-20 13:28:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe,1
279510,561326,21294,damaged,-227,2011-07-26 13:50:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe,1
344867,567113,85215,damaged,-29,2011-09-16 13:39:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe,1
344884,567125,21246,damaged,-2,2011-09-16 13:49:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe,1
344928,567127,85230E,damaged,-48,2011-09-16 14:01:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe,1
345010,567131,21830,damaged,192,2011-09-16 14:13:00,0.0,NaN,United Kingdom,NaN,0.0,0,Europe,1
345107,567143,21179,damaged,-14,2011-09-16 15:02:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe,1
355331,567918,79163,damaged,-1,2011-09-22 17:20:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe,1
355335,567921,21089,damaged,-7,2011-09-22 17:24:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe,1
355345,567923,37343,damaged,-2,2011-09-22 17:24:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe,1
355354,567925,84876D,damaged,-2,2011-09-22 17:26:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe,1
355356,567927,21654,damaged,-3,2011-09-22 17:28:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe,1
355421,567931,84563B,damaged,-11,2011-09-22 17:38:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe,1
370191,569131,22927,damaged,-5,2011-09-30 13:49:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe,1
373013,569256,20774,damaged,-14,2011-10-03 11:15:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe,1
373600,569335,84660A,damaged,-15,2011-10-03 13:57:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe,1
387525,570294,84249A,damaged,-25,2011-10-10 12:00:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe,1
398625,571254,23427,damaged,-2,2011-10-14 17:07:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe,1
401995,571458,21761,damaged,-2,2011-10-17 14:02:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe,1
414729,572480,22049,damaged,-100,2011-10-24 13:44:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe,1
415121,572516,22336,damaged,-71,2011-10-24 14:45:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe,1
415236,572527,20984,damaged,-46,2011-10-24 15:35:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe,1
422811,573118,85032D,damaged,-1,2011-10-27 16:19:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe,1
436631,574198,21159,damaged,-40,2011-11-03 12:00:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe,1
446552,574906,85034A,damaged,-81,2011-11-07 15:30:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe,1
472222,576674,21823,damaged,-6,2011-11-16 12:00:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe,1
474647,576843,10133,damaged,-82,2011-11-16 15:32:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe,1
489243,577999,21018,damaged,-63,2011-11-22 12:29:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe,1
492198,578095,23397,damaged,-9,2011-11-22 17:25:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe,1
500145,578733,21643,damaged,-9,2011-11-25 11:32:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe,1
514981,579755,84912B,damaged,-14,2011-11-30 14:54:00,0.0,NaN,United Kingdom,NaN,-0.0,0,Europe,1

In [302]:
df[df.Quantity < 0]['StockCode'].value_counts()

M            244
22423        184
POST         126
22960         87
D             77
22720         76
S             61
21232         61
22699         54
22197         50
22666         47
82483         47
85099B        44
20725         44
85123A        43
21843         43
22697         42
21314         40
22776         40
23245         37
22698         36
23243         35
23169         35
84949         35
20914         34
22727         33
AMAZONFEE     32
22847         32
22467         32
22456         32
71477         31
84978         30
22784         29
21231         29
23110         28
84946         27
22138         27
85066         26
22726         25
37449         25
            ...
22708          1
22713          1
22714          1
22731          1
90200C         1
22742          1
22743          1
22747          1
21385          1
22757          1
22761          1
22764          1
22765          1
21504          1
84227          1
22789          1
85188B         1
90177E         1
84596E         1
22687          1
84796B         1
22594          1
22598          1
22599          1
22608          1
22609          1
47344B         1
DCGS0067       1
47504H         1
22619          1
22685          1
22638          1
84569D         1
85028S         1
22647          1
22669          1
22671          1
22673          1
22679          1
90118          1
Name: StockCode, Length: 2559, dtype: int64

In [303]:
df[df.StockCode == 22423]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,cancelled,revenue,discount,Continent,damaged
880,536477,22423,regency cakestand 3 tier,16,2010-12-01 12:27:00,10.95,16210.0,United Kingdom,NaN,175.20,0,Europe,0
936,536502,22423,regency cakestand 3 tier,2,2010-12-01 12:36:00,12.75,16552.0,United Kingdom,NaN,25.50,0,Europe,0
1092,536525,22423,regency cakestand 3 tier,2,2010-12-01 12:54:00,12.75,14078.0,United Kingdom,NaN,25.50,0,Europe,0
1155,536528,22423,regency cakestand 3 tier,1,2010-12-01 13:17:00,12.75,15525.0,United Kingdom,NaN,12.75,0,Europe,0
1197,536530,22423,regency cakestand 3 tier,1,2010-12-01 13:21:00,12.75,17905.0,United Kingdom,NaN,12.75,0,Europe,0
1341,536537,22423,regency cakestand 3 tier,2,2010-12-01 13:51:00,12.75,15922.0,United Kingdom,NaN,25.50,0,Europe,0
1390,536539,22423,regency cakestand 3 tier,2,2010-12-01 14:03:00,12.75,15165.0,United Kingdom,NaN,25.50,0,Europe,0
1576,536544,22423,regency cakestand 3 tier,40,2010-12-01 14:32:00,12.72,NaN,United Kingdom,NaN,508.80,0,Europe,0
2147,536562,22423,regency cakestand 3 tier,2,2010-12-01 15:08:00,12.75,13468.0,United Kingdom,NaN,25.50,0,Europe,0
2723,536592,22423,regency cakestand 3 tier,47,2010-12-01 17:06:00,12.72,NaN,United Kingdom,NaN,597.84,0,Europe,0
3183,536607,22423,regency cakestand 3 tier,1,2010-12-02 09:29:00,12.75,17732.0,United Kingdom,NaN,12.75,0,Europe,0
3421,536627,22423,regency cakestand 3 tier,4,2010-12-02 10:53:00,12.75,15658.0,United Kingdom,NaN,51.00,0,Europe,0
3734,536667,22423,regency cakestand 3 tier,4,2010-12-02 12:09:00,12.75,15260.0,United Kingdom,NaN,51.00,0,Europe,0
3797,536681,22423,regency cakestand 3 tier,3,2010-12-02 12:22:00,12.75,17287.0,United Kingdom,NaN,38.25,0,Europe,0
3870,536707,22423,regency cakestand 3 tier,2,2010-12-02 12:33:00,12.75,12915.0,United Kingdom,NaN,25.50,0,Europe,0
3881,536732,22423,regency cakestand 3 tier,2,2010-12-02 12:47:00,12.75,15544.0,United Kingdom,NaN,25.50,0,Europe,0
4053,536744,22423,regency cakestand 3 tier,6,2010-12-02 13:36:00,12.75,14466.0,United Kingdom,NaN,76.50,0,Europe,0
4505,536785,22423,regency cakestand 3 tier,144,2010-12-02 15:22:00,10.95,15061.0,United Kingdom,NaN,1576.80,0,Europe,0
4787,536804,22423,regency cakestand 3 tier,16,2010-12-02 16:34:00,10.95,14031.0,United Kingdom,NaN,175.20,0,Europe,0
4838,536808,22423,regency cakestand 3 tier,1,2010-12-02 16:46:00,12.75,17659.0,United Kingdom,NaN,12.75,0,Europe,0
5157,536846,22423,regency cakestand 3 tier,1,2010-12-02 19:59:00,12.75,14573.0,United Kingdom,NaN,12.75,0,Europe,0
5272,536856,22423,regency cakestand 3 tier,2,2010-12-03 10:26:00,12.75,13370.0,United Kingdom,NaN,25.50,0,Europe,0
5414,536862,22423,regency cakestand 3 tier,6,2010-12-03 11:13:00,25.49,NaN,United Kingdom,NaN,152.94,0,Europe,0
5863,536876,22423,regency cakestand 3 tier,40,2010-12-03 11:36:00,12.72,NaN,United Kingdom,NaN,508.80,0,Europe,0
6542,536947,22423,regency cakestand 3 tier,3,2010-12-03 12:29:00,12.75,13013.0,United Kingdom,NaN,38.25,0,Europe,0
6564,536956,22423,regency cakestand 3 tier,1,2010-12-03 12:43:00,12.75,14210.0,United Kingdom,NaN,12.75,0,Europe,0
6607,536970,22423,regency cakestand 3 tier,120,2010-12-03 13:12:00,10.95,17949.0,United Kingdom,NaN,1314.00,0,Europe,0
6721,536975,22423,regency cakestand 3 tier,4,2010-12-03 14:04:00,12.75,14911.0,EIRE,NaN,51.00,0,Europe,0
6792,536980,22423,regency cakestand 3 tier,16,2010-12-03 14:26:00,10.95,17819.0,United Kingdom,NaN,175.20,0,Europe,0
6901,536982,22423,regency cakestand 3 tier,33,2010-12-03 14:27:00,25.49,NaN,United Kingdom,NaN,841.17,0,Europe,0
7003,536985,22423,regency cakestand 3 tier,6,2010-12-03 14:40:00,12.75,15373.0,United Kingdom,NaN,76.50,0,Europe,0
7436,537038,22423,regency cakestand 3 tier,16,2010-12-05 10:12:00,10.95,15465.0,United Kingdom,NaN,175.20,0,Europe,0
7440,537040,22423,regency cakestand 3 tier,48,2010-12-05 10:27:00,10.95,13089.0,United Kingdom,NaN,525.60,0,Europe,0
7498,537042,22423,regency cakestand 3 tier,1,2010-12-05 10:45:00,12.75,13838.0,United Kingdom,NaN,12.75,0,Europe,0
7744,537052,22423,regency cakestand 3 tier,16,2010-12-05 11:15:00,10.95,16839.0,United Kingdom,NaN,175.20,0,Europe,0
7922,537065,22423,regency cakestand 3 tier,2,2010-12-05 11:57:00,12.75,12567.0,France,NaN,25.50,0,Europe,0
8332,537135,22423,regency cakestand 3 tier,1,2010-12-05 12:35:00,12.75,17059.0,United Kingdom,NaN,12.75,0,Europe,0
8584,537139,22423,regency cakestand 3 tier,1,2010-12-05 12:47:00,12.75,17026.0,United Kingdom,NaN,12.75,0,Europe,0
9429,537201,22423,regency cakestand 3 tier,4,2010-12-05 14:19:00,12.75,12472.0,Germany,NaN,51.00,0,Europe,0
9839,537219,22423,regency cakestand 3 tier,2,2010-12-05 15:47:00,12.75,14081.0,United Kingdom,NaN,25.50,0,Europe,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
526419,580667,22423,regency cakestand 3 tier,1,2011-12-05 14:19:00,12.75,15031.0,United Kingdom,NaN,12.75,0,Europe,0
526460,580669,22423,regency cakestand 3 tier,6,2011-12-05 14:25:00,12.75,15159.0,United Kingdom,NaN,76.50,0,Europe,0
526998,580688,22423,regency cakestand 3 tier,3,2011-12-05 15:38:00,12.75,15550.0,United Kingdom,NaN,38.25,0,Europe,0
527191,580695,22423,regency cakestand 3 tier,1,2011-12-05 16:03:00,12.75,13230.0,United Kingdom,NaN,12.75,0,Europe,0
527445,580720,22423,regency cakestand 3 tier,1,2011-12-05 16:55:00,12.75,14629.0,United Kingdom,NaN,12.75,0,Europe,0
527776,580727,22423,regency cakestand 3 tier,3,2011-12-05 17:17:00,24.96,14096.0,United Kingdom,NaN,74.88,0,Europe,0
528297,580729,22423,regency cakestand 3 tier,2,2011-12-05 17:24:00,24.96,NaN,United Kingdom,NaN,49.92,0,Europe,0
529033,580730,22423,regency cakestand 3 tier,1,2011-12-05 17:28:00,24.96,NaN,United Kingdom,NaN,24.96,0,Europe,0
529781,580753,22423,regency cakestand 3 tier,1,2011-12-06 10:00:00,12.75,12682.0,France,NaN,12.75,0,Europe,0
529834,580754,22423,regency cakestand 3 tier,13,2011-12-06 10:05:00,24.96,NaN,United Kingdom,NaN,324.48,0,Europe,0
529835,580754,22423,regency cakestand 3 tier,1,2011-12-06 10:05:00,32.04,NaN,United Kingdom,NaN,32.04,0,Europe,0
530035,580774,22423,regency cakestand 3 tier,2,2011-12-06 11:05:00,12.75,13994.0,United Kingdom,NaN,25.50,0,Europe,0
530516,580873,22423,regency cakestand 3 tier,128,2011-12-06 12:06:00,10.95,15061.0,United Kingdom,NaN,1401.60,0,Europe,0
530657,580877,22423,regency cakestand 3 tier,2,2011-12-06 12:15:00,12.75,17250.0,United Kingdom,NaN,25.50,0,Europe,0
531045,580903,22423,regency cakestand 3 tier,1,2011-12-06 12:56:00,12.75,14606.0,United Kingdom,NaN,12.75,0,Europe,0
531723,580961,22423,regency cakestand 3 tier,8,2011-12-06 14:40:00,12.75,14572.0,United Kingdom,NaN,102.00,0,Europe,0
531760,580965,22423,regency cakestand 3 tier,4,2011-12-06 14:52:00,12.75,12417.0,Belgium,NaN,51.00,0,Europe,0
533080,581008,22423,regency cakestand 3 tier,12,2011-12-07 09:02:00,12.75,13089.0,United Kingdom,NaN,153.00,0,Europe,0
533268,581021,22423,regency cakestand 3 tier,2,2011-12-07 10:24:00,12.75,14769.0,United Kingdom,NaN,25.50,0,Europe,0
533556,581059,22423,regency cakestand 3 tier,2,2011-12-07 11:12:00,12.75,13267.0,United Kingdom,NaN,25.50,0,Europe,0
533645,581098,22423,regency cakestand 3 tier,16,2011-12-07 11:42:00,10.95,14911.0,EIRE,NaN,175.20,0,Europe,0
534914,581175,22423,regency cakestand 3 tier,32,2011-12-07 15:16:00,10.95,14646.0,Netherlands,NaN,350.40,0,Europe,0
534968,581179,22423,regency cakestand 3 tier,64,2011-12-07 15:43:00,10.95,12471.0,Germany,NaN,700.80,0,Europe,0
535211,581192,22423,regency cakestand 3 tier,2,2011-12-07 17:05:00,12.75,15883.0,United Kingdom,NaN,25.50,0,Europe,0
535606,581217,22423,regency cakestand 3 tier,3,2011-12-08 09:20:00,24.96,NaN,United Kingdom,NaN,74.88,0,Europe,0
536648,581219,22423,regency cakestand 3 tier,4,2011-12-08 09:28:00,24.96,NaN,United Kingdom,NaN,99.84,0,Europe,0
536911,C581228,22423,regency cakestand 3 tier,-6,2011-12-08 10:06:00,10.95,16019.0,United Kingdom,1.0,-65.70,0,Europe,0
536970,581233,22423,regency cakestand 3 tier,2,2011-12-08 10:33:00,12.75,13436.0,United Kingdom,NaN,25.50,0,Europe,0
536986,C581235,22423,regency cakestand 3 tier,-1,2011-12-08 10:34:00,12.75,15950.0,United Kingdom,1.0,-12.75,0,Europe,0
537366,581256,22423,regency cakestand 3 tier,5,2011-12-08 11:21:00,24.96,NaN,United Kingdom,NaN,124.80,0,Europe,0
537367,581256,22423,regency cakestand 3 tier,1,2011-12-08 11:21:00,32.04,NaN,United Kingdom,NaN,32.04,0,Europe,0
537461,581279,22423,regency cakestand 3 tier,6,2011-12-08 11:35:00,12.75,12437.0,France,NaN,76.50,0,Europe,0
538094,581397,22423,regency cakestand 3 tier,3,2011-12-08 13:25:00,12.75,17668.0,United Kingdom,NaN,38.25,0,Europe,0
538944,581425,22423,regency cakestand 3 tier,1,2011-12-08 15:31:00,12.75,14796.0,United Kingdom,NaN,12.75,0,Europe,0
539594,581439,22423,regency cakestand 3 tier,3,2011-12-08 16:30:00,24.96,NaN,United Kingdom,NaN,74.88,0,Europe,0
539891,581449,22423,regency cakestand 3 tier,1,2011-12-08 17:37:00,12.75,12748.0,United Kingdom,NaN,12.75,0,Europe,0
539892,581449,22423,regency cakestand 3 tier,1,2011-12-08 17:37:00,12.75,12748.0,United Kingdom,NaN,12.75,0,Europe,0
540216,581472,22423,regency cakestand 3 tier,2,2011-12-08 19:55:00,12.75,15796.0,United Kingdom,NaN,25.50,0,Europe,0
541231,581495,22423,regency cakestand 3 tier,10,2011-12-09 10:20:00,12.75,14051.0,United Kingdom,NaN,127.50,0,Europe,0
541290,581497,22423,regency cakestand 3 tier,8,2011-12-09 10:23:00,24.96,NaN,United Kingdom,NaN,199.68,0,Europe,0

In [304]:
# cluster using recency,frequency, monetary
# so that we can profile other profiling variables

In [305]:
print(df.InvoiceDate.min())
print(df.InvoiceDate.max())

2010-12-01 08:26:00
2011-12-09 12:50:00

In [306]:
# average number of quantitiy
sum(df.Quantity) / len(df.Quantity)

9.5522495474332398

In [307]:
# max and min quantity
print(df.Quantity.min())
print(df.Quantity.max())

-80995
80995

In [308]:
df[(df.Quantity == -80995) | (df.Quantity == 80995)]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,cancelled,revenue,discount,Continent,damaged
540421,581483,23843,"paper craft , little birdie",80995,2011-12-09 09:15:00,2.08,16446.0,United Kingdom,NaN,168469.6,0,Europe,0
540422,C581484,23843,"paper craft , little birdie",-80995,2011-12-09 09:27:00,2.08,16446.0,United Kingdom,1.0,-168469.6,0,Europe,0

In [309]:
df.CustomerID.value_counts().sum()

406829

In [310]:
# divide between date and time for invoicedate
df['Date'] = [d.date() for d in df.InvoiceDate]
df['Time'] = [d.time() for d in df.InvoiceDate]

# verify split
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,cancelled,revenue,discount,Continent,damaged,Date,Time
0,536365,85123A,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,NaN,15.30,0,Europe,0,2010-12-01,08:26:00
1,536365,71053,white metal lantern,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,NaN,20.34,0,Europe,0,2010-12-01,08:26:00
2,536365,84406B,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,NaN,22.00,0,Europe,0,2010-12-01,08:26:00
3,536365,84029G,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,NaN,20.34,0,Europe,0,2010-12-01,08:26:00
4,536365,84029E,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,NaN,20.34,0,Europe,0,2010-12-01,08:26:00

In [311]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 15 columns):
InvoiceNo      541909 non-null object
StockCode      541909 non-null object
Description    541909 non-null object
Quantity       541909 non-null int64
InvoiceDate    541909 non-null datetime64[ns]
UnitPrice      541909 non-null float64
CustomerID     406829 non-null float64
Country        541909 non-null object
cancelled      9288 non-null float64
revenue        541909 non-null float64
discount       541909 non-null int64
Continent      541909 non-null object
damaged        541909 non-null int64
Date           541909 non-null object
Time           541909 non-null object
dtypes: datetime64[ns](1), float64(4), int64(3), object(7)
memory usage: 62.0+ MB

In [312]:
# missing values

In [314]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 15 columns):
InvoiceNo      541909 non-null object
StockCode      541909 non-null object
Description    541909 non-null object
Quantity       541909 non-null int64
InvoiceDate    541909 non-null datetime64[ns]
UnitPrice      541909 non-null float64
CustomerID     406829 non-null float64
Country        541909 non-null object
cancelled      9288 non-null float64
revenue        541909 non-null float64
discount       541909 non-null int64
Continent      541909 non-null object
damaged        541909 non-null int64
Date           541909 non-null object
Time           541909 non-null object
dtypes: datetime64[ns](1), float64(4), int64(3), object(7)
memory usage: 62.0+ MB

In [315]:
# missing customerid values
df[df.CustomerID.isnull()]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,cancelled,revenue,discount,Continent,damaged,Date,Time
622,536414,22139,nan,56,2010-12-01 11:52:00,0.00,NaN,United Kingdom,NaN,0.00,0,Europe,0,2010-12-01,11:52:00
1443,536544,21773,decorative rose bathroom bottle,1,2010-12-01 14:32:00,2.51,NaN,United Kingdom,NaN,2.51,0,Europe,0,2010-12-01,14:32:00
1444,536544,21774,decorative cats bathroom bottle,2,2010-12-01 14:32:00,2.51,NaN,United Kingdom,NaN,5.02,0,Europe,0,2010-12-01,14:32:00
1445,536544,21786,polkadot rain hat,4,2010-12-01 14:32:00,0.85,NaN,United Kingdom,NaN,3.40,0,Europe,0,2010-12-01,14:32:00
1446,536544,21787,rain poncho retrospot,2,2010-12-01 14:32:00,1.66,NaN,United Kingdom,NaN,3.32,0,Europe,0,2010-12-01,14:32:00
1447,536544,21790,vintage snap cards,9,2010-12-01 14:32:00,1.66,NaN,United Kingdom,NaN,14.94,0,Europe,0,2010-12-01,14:32:00
1448,536544,21791,vintage heads and tails card game,2,2010-12-01 14:32:00,2.51,NaN,United Kingdom,NaN,5.02,0,Europe,0,2010-12-01,14:32:00
1449,536544,21801,christmas tree decoration with bell,10,2010-12-01 14:32:00,0.43,NaN,United Kingdom,NaN,4.30,0,Europe,0,2010-12-01,14:32:00
1450,536544,21802,christmas tree heart decoration,9,2010-12-01 14:32:00,0.43,NaN,United Kingdom,NaN,3.87,0,Europe,0,2010-12-01,14:32:00
1451,536544,21803,christmas tree star decoration,11,2010-12-01 14:32:00,0.43,NaN,United Kingdom,NaN,4.73,0,Europe,0,2010-12-01,14:32:00
1452,536544,21809,christmas hanging tree with bell,1,2010-12-01 14:32:00,2.51,NaN,United Kingdom,NaN,2.51,0,Europe,0,2010-12-01,14:32:00
1453,536544,21810,christmas hanging star with bell,3,2010-12-01 14:32:00,2.51,NaN,United Kingdom,NaN,7.53,0,Europe,0,2010-12-01,14:32:00
1454,536544,21811,christmas hanging heart with bell,1,2010-12-01 14:32:00,2.51,NaN,United Kingdom,NaN,2.51,0,Europe,0,2010-12-01,14:32:00
1455,536544,21821,glitter star garland with bells,1,2010-12-01 14:32:00,7.62,NaN,United Kingdom,NaN,7.62,0,Europe,0,2010-12-01,14:32:00
1456,536544,21822,glitter christmas tree with bells,1,2010-12-01 14:32:00,4.21,NaN,United Kingdom,NaN,4.21,0,Europe,0,2010-12-01,14:32:00
1457,536544,21823,painted metal heart with holly bell,2,2010-12-01 14:32:00,2.98,NaN,United Kingdom,NaN,5.96,0,Europe,0,2010-12-01,14:32:00
1458,536544,21844,red retrospot mug,2,2010-12-01 14:32:00,5.91,NaN,United Kingdom,NaN,11.82,0,Europe,0,2010-12-01,14:32:00
1459,536544,21851,lilac diamante pen in gift box,1,2010-12-01 14:32:00,4.21,NaN,United Kingdom,NaN,4.21,0,Europe,0,2010-12-01,14:32:00
1460,536544,21870,i can only please one person mug,1,2010-12-01 14:32:00,3.36,NaN,United Kingdom,NaN,3.36,0,Europe,0,2010-12-01,14:32:00
1461,536544,21871,save the planet mug,5,2010-12-01 14:32:00,3.36,NaN,United Kingdom,NaN,16.80,0,Europe,0,2010-12-01,14:32:00
1462,536544,21874,gin and tonic mug,1,2010-12-01 14:32:00,3.36,NaN,United Kingdom,NaN,3.36,0,Europe,0,2010-12-01,14:32:00
1463,536544,21879,hearts gift tape,1,2010-12-01 14:32:00,1.66,NaN,United Kingdom,NaN,1.66,0,Europe,0,2010-12-01,14:32:00
1464,536544,21884,cakes and bows gift tape,1,2010-12-01 14:32:00,1.66,NaN,United Kingdom,NaN,1.66,0,Europe,0,2010-12-01,14:32:00
1465,536544,21888,bingo set,1,2010-12-01 14:32:00,7.62,NaN,United Kingdom,NaN,7.62,0,Europe,0,2010-12-01,14:32:00
1466,536544,21889,wooden box of dominoes,2,2010-12-01 14:32:00,2.51,NaN,United Kingdom,NaN,5.02,0,Europe,0,2010-12-01,14:32:00
1467,536544,21892,traditional wooden catch cup game,3,2010-12-01 14:32:00,2.51,NaN,United Kingdom,NaN,7.53,0,Europe,0,2010-12-01,14:32:00
1468,536544,21894,potting shed seed envelopes,1,2010-12-01 14:32:00,2.51,NaN,United Kingdom,NaN,2.51,0,Europe,0,2010-12-01,14:32:00
1469,536544,21911,garden metal sign,1,2010-12-01 14:32:00,3.36,NaN,United Kingdom,NaN,3.36,0,Europe,0,2010-12-01,14:32:00
1470,536544,21912,vintage snakes & ladders,3,2010-12-01 14:32:00,7.62,NaN,United Kingdom,NaN,22.86,0,Europe,0,2010-12-01,14:32:00
1471,536544,21913,vintage seaside jigsaw puzzles,1,2010-12-01 14:32:00,7.62,NaN,United Kingdom,NaN,7.62,0,Europe,0,2010-12-01,14:32:00
1472,536544,21914,blue harmonica in box,3,2010-12-01 14:32:00,2.51,NaN,United Kingdom,NaN,7.53,0,Europe,0,2010-12-01,14:32:00
1473,536544,21915,red harmonica in box,2,2010-12-01 14:32:00,2.51,NaN,United Kingdom,NaN,5.02,0,Europe,0,2010-12-01,14:32:00
1474,536544,21922,union stripe with fringe hammock,2,2010-12-01 14:32:00,16.98,NaN,United Kingdom,NaN,33.96,0,Europe,0,2010-12-01,14:32:00
1475,536544,21928,jumbo bag scandinavian paisley,1,2010-12-01 14:32:00,4.21,NaN,United Kingdom,NaN,4.21,0,Europe,0,2010-12-01,14:32:00
1476,536544,21935,suki shoulder bag,1,2010-12-01 14:32:00,3.36,NaN,United Kingdom,NaN,3.36,0,Europe,0,2010-12-01,14:32:00
1477,536544,21942,skulls design flannel,2,2010-12-01 14:32:00,1.66,NaN,United Kingdom,NaN,3.32,0,Europe,0,2010-12-01,14:32:00
1478,536544,21944,kittens design flannel,1,2010-12-01 14:32:00,1.66,NaN,United Kingdom,NaN,1.66,0,Europe,0,2010-12-01,14:32:00
1479,536544,21949,set of 6 strawberry chopsticks,1,2010-12-01 14:32:00,2.51,NaN,United Kingdom,NaN,2.51,0,Europe,0,2010-12-01,14:32:00
1480,536544,21975,pack of 60 dinosaur cake cases,1,2010-12-01 14:32:00,1.28,NaN,United Kingdom,NaN,1.28,0,Europe,0,2010-12-01,14:32:00
1481,536544,21977,pack of 60 pink paisley cake cases,1,2010-12-01 14:32:00,1.28,NaN,United Kingdom,NaN,1.28,0,Europe,0,2010-12-01,14:32:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
541501,581498,23388,woodland mini backpack,1,2011-12-09 10:26:00,8.29,NaN,United Kingdom,NaN,8.29,0,Europe,0,2011-12-09,10:26:00
541502,581498,23437,50's christmas gift bag large,1,2011-12-09 10:26:00,2.46,NaN,United Kingdom,NaN,2.46,0,Europe,0,2011-12-09,10:26:00
541503,581498,23480,mini lights woodland mushrooms,1,2011-12-09 10:26:00,7.46,NaN,United Kingdom,NaN,7.46,0,Europe,0,2011-12-09,10:26:00
541504,581498,23493,vintage doily travel sewing kit,1,2011-12-09 10:26:00,3.29,NaN,United Kingdom,NaN,3.29,0,Europe,0,2011-12-09,10:26:00
541505,581498,23494,vintage doily deluxe sewing kit,1,2011-12-09 10:26:00,12.46,NaN,United Kingdom,NaN,12.46,0,Europe,0,2011-12-09,10:26:00
541506,581498,23497,classic chrome bicycle bell,1,2011-12-09 10:26:00,3.29,NaN,United Kingdom,NaN,3.29,0,Europe,0,2011-12-09,10:26:00
541507,581498,23501,key ring baseball boot union jack,1,2011-12-09 10:26:00,2.46,NaN,United Kingdom,NaN,2.46,0,Europe,0,2011-12-09,10:26:00
541508,581498,23564,egg cup milkmaid ingrid,1,2011-12-09 10:26:00,2.46,NaN,United Kingdom,NaN,2.46,0,Europe,0,2011-12-09,10:26:00
541509,581498,35970,zinc folkart sleigh bells,6,2011-12-09 10:26:00,4.13,NaN,United Kingdom,NaN,24.78,0,Europe,0,2011-12-09,10:26:00
541510,581498,48138,doormat union flag,1,2011-12-09 10:26:00,14.13,NaN,United Kingdom,NaN,14.13,0,Europe,0,2011-12-09,10:26:00
541511,581498,71053,white moroccan metal lantern,1,2011-12-09 10:26:00,8.29,NaN,United Kingdom,NaN,8.29,0,Europe,0,2011-12-09,10:26:00
541512,581498,72349b,set/6 purple butterfly t-lights,2,2011-12-09 10:26:00,4.13,NaN,United Kingdom,NaN,8.26,0,Europe,0,2011-12-09,10:26:00
541513,581498,79321,chilli lights,10,2011-12-09 10:26:00,12.46,NaN,United Kingdom,NaN,124.60,0,Europe,0,2011-12-09,10:26:00
541514,581498,82001s,silver record cover frame,2,2011-12-09 10:26:00,7.46,NaN,United Kingdom,NaN,14.92,0,Europe,0,2011-12-09,10:26:00
541515,581498,82482,wooden picture frame white finish,4,2011-12-09 10:26:00,4.96,NaN,United Kingdom,NaN,19.84,0,Europe,0,2011-12-09,10:26:00
541516,581498,82552,washroom metal sign,1,2011-12-09 10:26:00,2.46,NaN,United Kingdom,NaN,2.46,0,Europe,0,2011-12-09,10:26:00
541517,581498,82580,bathroom metal sign,1,2011-12-09 10:26:00,1.25,NaN,United Kingdom,NaN,1.25,0,Europe,0,2011-12-09,10:26:00
541518,581498,82581,toilet metal sign,1,2011-12-09 10:26:00,1.25,NaN,United Kingdom,NaN,1.25,0,Europe,0,2011-12-09,10:26:00
541519,581498,82600,n0 singing metal sign,4,2011-12-09 10:26:00,4.13,NaN,United Kingdom,NaN,16.52,0,Europe,0,2011-12-09,10:26:00
541520,581498,84029E,red woolly hottie white heart.,4,2011-12-09 10:26:00,8.29,NaN,United Kingdom,NaN,33.16,0,Europe,0,2011-12-09,10:26:00
541521,581498,84032A,charlie+lola pink hot water bottle,4,2011-12-09 10:26:00,5.79,NaN,United Kingdom,NaN,23.16,0,Europe,0,2011-12-09,10:26:00
541522,581498,84032B,charlie + lola red hot water bottle,3,2011-12-09 10:26:00,3.29,NaN,United Kingdom,NaN,9.87,0,Europe,0,2011-12-09,10:26:00
541523,581498,84375,set of 20 kids cookie cutters,3,2011-12-09 10:26:00,4.13,NaN,United Kingdom,NaN,12.39,0,Europe,0,2011-12-09,10:26:00
541524,581498,84509a,set of 4 english rose placemats,1,2011-12-09 10:26:00,7.46,NaN,United Kingdom,NaN,7.46,0,Europe,0,2011-12-09,10:26:00
541525,581498,84558a,3d dog picture playing cards,1,2011-12-09 10:26:00,5.79,NaN,United Kingdom,NaN,5.79,0,Europe,0,2011-12-09,10:26:00
541526,581498,84832,zinc willie winkie candle stick,26,2011-12-09 10:26:00,1.63,NaN,United Kingdom,NaN,42.38,0,Europe,0,2011-12-09,10:26:00
541527,581498,84968e,set of 16 vintage black cutlery,1,2011-12-09 10:26:00,24.96,NaN,United Kingdom,NaN,24.96,0,Europe,0,2011-12-09,10:26:00
541528,581498,84970s,hanging heart zinc t-light holder,1,2011-12-09 10:26:00,2.08,NaN,United Kingdom,NaN,2.08,0,Europe,0,2011-12-09,10:26:00
541529,581498,84997a,childrens cutlery polkadot green,2,2011-12-09 10:26:00,8.29,NaN,United Kingdom,NaN,16.58,0,Europe,0,2011-12-09,10:26:00
541530,581498,84997b,childrens cutlery retrospot red,3,2011-12-09 10:26:00,8.29,NaN,United Kingdom,NaN,24.87,0,Europe,0,2011-12-09,10:26:00
541531,581498,84997d,childrens cutlery polkadot pink,1,2011-12-09 10:26:00,8.29,NaN,United Kingdom,NaN,8.29,0,Europe,0,2011-12-09,10:26:00
541532,581498,85038,6 chocolate love heart t-lights,1,2011-12-09 10:26:00,4.13,NaN,United Kingdom,NaN,4.13,0,Europe,0,2011-12-09,10:26:00
541533,581498,85048,15cm christmas glass ball 20 lights,1,2011-12-09 10:26:00,16.63,NaN,United Kingdom,NaN,16.63,0,Europe,0,2011-12-09,10:26:00
541534,581498,85049a,traditional christmas ribbons,5,2011-12-09 10:26:00,3.29,NaN,United Kingdom,NaN,16.45,0,Europe,0,2011-12-09,10:26:00
541535,581498,85049e,scandinavian reds ribbons,4,2011-12-09 10:26:00,3.29,NaN,United Kingdom,NaN,13.16,0,Europe,0,2011-12-09,10:26:00
541536,581498,85099B,jumbo bag red retrospot,5,2011-12-09 10:26:00,4.13,NaN,United Kingdom,NaN,20.65,0,Europe,0,2011-12-09,10:26:00
541537,581498,85099C,jumbo bag baroque black white,4,2011-12-09 10:26:00,4.13,NaN,United Kingdom,NaN,16.52,0,Europe,0,2011-12-09,10:26:00
541538,581498,85150,ladies & gentlemen metal sign,1,2011-12-09 10:26:00,4.96,NaN,United Kingdom,NaN,4.96,0,Europe,0,2011-12-09,10:26:00
541539,581498,85174,s/4 cacti candles,1,2011-12-09 10:26:00,10.79,NaN,United Kingdom,NaN,10.79,0,Europe,0,2011-12-09,10:26:00
541540,581498,DOT,dotcom postage,1,2011-12-09 10:26:00,1714.17,NaN,United Kingdom,NaN,1714.17,0,Europe,0,2011-12-09,10:26:00

In [316]:
# since we need to groupby the customerid
# get rid of all rows without a customerid
# just to be safe, store it as another dataframe
# and view what's the common theme among the missing customerIDs

# create another dataframe for null ids
df_null_customer = df[df.CustomerID.isnull()]

# drop all rows without customer id
df.dropna(subset = ['CustomerID'], inplace = True)

In [334]:
df_null_customer.head()
df_null_customer.cancelled = df_null_customer.cancelled.fillna(0)

/Users/jk6653284/anaconda/lib/python3.6/site-packages/pandas/core/generic.py:2999: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [322]:
# verify rows have been dropped
df.CustomerID.isnull().sum()

0

In [332]:
# fill missing cancelled values as 0
df.cancelled = df.cancelled.fillna(0)

In [333]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 406829 entries, 0 to 541908
Data columns (total 15 columns):
InvoiceNo      406829 non-null object
StockCode      406829 non-null object
Description    406829 non-null object
Quantity       406829 non-null int64
InvoiceDate    406829 non-null datetime64[ns]
UnitPrice      406829 non-null float64
CustomerID     406829 non-null float64
Country        406829 non-null object
cancelled      406829 non-null float64
revenue        406829 non-null float64
discount       406829 non-null int64
Continent      406829 non-null object
damaged        406829 non-null int64
Date           406829 non-null object
Time           406829 non-null object
dtypes: datetime64[ns](1), float64(4), int64(3), object(7)
memory usage: 69.7+ MB

In [335]:
# download data as separate file to save trouble of loading this thing again and again

df.to_csv("online_retail_cleaned.csv")
df_null_customer.to_csv("online_retail_null_customers.csv")